<div class="main">
    
<div class="msg-header">
        <%= link_to conversations_path, :class => "button" do %>
          <div class="btn btn-primary" style="float: left; background-color: #E10028; border-color: #E10028;"><h3>&lt;</h3></div>
        <% end %>

       <% if @conversation.sender_id == current_account.id ||      @conversation.receiver_id == current_account.id %>
    <% if @conversation.sender_id == current_account.id %>
      <% receiver = Account.find(@conversation.receiver_id) %>
    <% else %>
      <% receiver = Account.find(@conversation.sender_id) %>
    <% end %>
    <%end%>
    
    <img class="msg-header-img" src="avatar.jpeg" alt="Avatar">
        
        <%= link_to profile_path(receiver.id) do %>
        <div class="active">
          <h4><%= receiver.first_name + " " + receiver.last_name %></h4>
        </div>
        <% end %>
      </div>

      <div class="container">
        <div class="chat-page">
          <div class="msg-inbox">
            <div class="chats">
              <div class="msg-page">
                <% if @over_ten %>
 <%= link_to 'Show Previous', '?m=all' %>
<% end %>
<div class="ui segment">
 <% @messages.each do |message| %>
  <% if message.body %>
   <% account = Account.find(message.account_id) %>
   
   <% if account.id != current_account.id %>
     <div class="received-chats">
      <div class="received-msg">
                    <div class="received-msg-inbox">
                      <p><%= message.body %></p>
                      <span class="time"><%= message.message_time %></span>
                    </div>
       </div>
     </div>
   <% else %>
    <div class="outgoing-chats">
                  <div class="outgoing-chats-msg">
                    <div class="outgoing-msg-inbox">
                      <p><%= message.body %></p>
                      <span class="time"><%= message.message_time %></span>
                    </div>
                  </div>
                </div>
   <% end %>
 <% end %>
<% end %>

              </div>
            </div>

          </div>
          <div class="msg-bottom">
            <div class="input-group">
              <%= form_for [@conversation, @message], html: {:class => "form-inline"} do |f| %>
 <div class="field">
   <%= f.text_area :body, class: "form-control msg-box" %>
 </div>
 <%= f.text_field :account_id, value: current_account.id, type: "hidden" %>
 <div>
   <%= f.submit "Send Message", class: "btn btn-primary" %>
 </div>
<% end %>
            </div>
          </div>
        </div>

      </div>
          
    </div>
</div>
