<div class="profile-container">
    <h1>Edit your profile</h1>
            <% if flash[:notice] %>
              <div class="alert alert-primary notice top-alert">
                <%= "#{flash[:notice]}" %>
              </div>
            <% end %>
            <% if flash[:alert] %>
              <div class="alert alert-warning alert top-alert">
                <%= "#{flash[:alert]}" %>
              </div>
            <% end %>
            
        <%= simple_form_for @profile, :url => url_for(:action => 'update', :controller => 'profiles'), :method => 'patch' do |f| %>
        
            <%= f.label "Profile photo"%><br>
            <%= f.file_field :avatar %>
  
            <%= f.input :first_name, input_html: { required: false, size: 40 }%>
            
            <%= f.input :last_name, input_html: { required: false } %>
            
            <%= f.input :pronouns, as: :radio_buttons, collection: Profile::PRONOUNS, input_html: { required: false }  %>
            
            <%= f.input :class_year, as: :radio_buttons, collection: Profile::CLASS_YEARS, input_html: { required: false }  %>
            
            <%= f.input :majors, label: "Major(s)", collection: Profile::MAJORS, input_html: { multiple: true, required: false }, include_hidden: false %>
            
            <%= f.input :minors, label: "Minor(s)", collection: Profile::MAJORS, input_html: { multiple: true, required: false }, include_hidden: false %>
            
            <%= f.input :interests, as: :check_boxes, collection: Profile::INTERESTS, wrapper: :vertical_collection_inline, include_hidden: false %>
            
            <%= f.button :submit, class: "btn-primary" %>
            
            <%= link_to "Cancel", profile_path(current_account.profile), class: "btn btn-danger" %>
        <% end %>
    
</div>