<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'accounts', media: 'all' %>
  </head>
  <body>
    <div class = "main">
      <div class="container page-heading">
        <h3><%= @profiles.length %> profiles found.</h3>
        <%= link_to "Filters", profiles_path(:reset => true), class: "btn btn-grey"%>
        <%= link_to "Reset filter", profiles_path(:reset => true), class: "btn btn-light"%>
      </div>
      
        <table class="table">
        <thead class="thead-light">
          <tr class="products_header">
            <th>Name</th>
            <th>Year</th>
            <th>Majors</th>
            <th>Minors</th>
            <th>Connection Status</th>
          </tr>
        </thead>
        <tbody>
          <% @profiles.each do |p| %>
            <% if p.id != current_account.id %>
              <tr><p>
              <td>
                <%= link_to "#{p.first_name + " " + p.last_name}", profile_path(p) %>
              </td>
              <td><%= p.class_year %></td>
              <td>
                <% p.toList(p.majors).each do |m| %>
                  <%= m %><br>
                <% end %>
              </td>
              <td>
                <% p.toList(p.minors).each do |m| %>
                  <%= m %><br>
                <% end %>
              </td>
              <td>
                <% if !current_account.profile.connected_to(p) %>
                <% if p.pending_friend_request?(current_account.profile) %>
                      <%= link_to "Unsend Friend Request", friend_request_path(:id => current_account.id, :friend_id => p.id), :method => :delete, :class => "btn btn-secondary" %></div>
                  <% elsif !current_account.profile.pending_friend_request?(p) %>
                      <%= link_to "Send Friend Request", friend_requests_path(:friend_id => p.id), :method => :post, :class => "btn btn-primary" %></div>
                  <% else %>
                        <div>
                          <%= link_to "Accept", connections_path(:friend_id => p.id), :method => :post, :class => "btn btn-primary" %>
                        <%= link_to "Delete", friend_request_path(:id => current_account.id, :friend_id => p.id), :method => :delete, :class => "btn btn-light" %></div>
                  <% end %>
                <% elsif current_account.profile.connected_to(p) %>
                  <%= link_to "Connected", connection_path(:id => current_account.id, :friend_id => p.id), :method => :delete, :class => "btn btn-success" %>
                <% else %>
                  Me!
                <% end %>
              </td>
            </p></tr>
            <% end %>
            <% end %>
          </tbody>
        </table>  
    </div>
  </body>
</html>
