<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'accounts', media: 'all' %>
  </head>
  <body>
    <div class = "main">
      <% if @profiles.length() == 0 %>
        <p class="center">No match found</p>
      <% else %>
        <table class="table">
        <thead class="thead-light">
          <tr class="products_header">
            <th>Name</th>
            <th>Year</th>
            <th>Majors</th>
            <th>Minors</th>
            <th>Connection Status</th>
          </tr>
        </thead>
        <tbody>
          <% @profiles.each do |p| %>
            <tr><p>
              <td>
                <%= link_to "#{p.first_name + " " + p.last_name}", profile_path(p) %>
              </td>
              <td><%= p.class_year %></td>
              <td>
                <% p.toList(p.majors).each do |m| %>
                  <%= m %><br>
                <% end %>
              </td>
              <td>
                <% p.toList(p.minors).each do |m| %>
                  <%= m %><br>
                <% end %>
              </td>
              <td>
                <% if current_account.profile !=p && !current_account.profile.connected_to(p) %>
                  Not yet connected
                <% elsif current_account.profile.connected_to(p) %>
                  Connected
                <% else %>
                  Me!
                <% end %>
              </td>
            </p></tr>
            <% end %>
          </tbody>
        </table>  
      <% end %>
    </div>
  </body>
</html>
