<head>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
</head>
<div class="main">
  <% if !@profile.pending_friend_request?(current_account.profile) and !!current_account.profile.pending_friend_request?(@profile) %>
    <div class="alert alert-secondary" role="alert">
      <%= @profile.first_name %> would like to connect with you.
      <%= link_to "Accept", connections_path(:friend_id => @profile), :method => :post, :class => "btn btn-primary spacer" %>
      <%= link_to "Delete", friend_request_path(:friend_id => @profile), :method => :delete, :class => "btn btn-light" %>
    </div>
  <% end %>
  
  <% if flash[:success] %>
    <div class="alert alert-success notice alert-dismissible alert-notif" role="alert">
      <%= "#{flash[:success]}" %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
  <% end %>
  <% if flash[:notice] %>
    <div class="alert alert-primary notice alert-dismissible alert-notif" role="alert">
      <%= "#{flash[:notice]}" %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert alert-warning notice alert-dismissible alert-notif" role="alert">
      <%= "#{flash[:alert]}" %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
  <% end %>
  
  
  <div class="profile-container">
    <div class="profile-row">
      <div class="profile-column p-left">
        <div class="circular-portrait">
          <% if !@profile.blocking(current_account.profile) && !current_account.profile.blocking(@profile) && @profile.avatar.attached? %>
            <img  src="<%= (url_for(@profile.avatar)) %>">
          <% else %>
            <%= image_tag("avatar.jpeg", alt:"photo") %>
          <% end %>
        </div>
      </div>
      
    <div class="profile-column p-right">
      <h2><%= "#{@profile.first_name} #{@profile.last_name}" %>
      <% if (!@profile.blocking(current_account.profile) && !current_account.profile.blocking(@profile)) && ((current_account.profile == @profile && current_account.profile.setting.dating) || (current_account.profile != @profile and current_account.profile.is_a_match(@profile))) %>
        <%= image_tag("heart.png", class: "heart", alt:"heart") %> 
      <% end %>
      </h2>
      
      <% if current_account.profile.should_show("Pronouns", @profile) && !current_account.profile.blocking(@profile)%>
        <p id="pronouns"><%= "#{@profile.pronouns}"%></p>
      <% end %>
      <% if @profile.status && current_account.profile.should_show("Status", @profile) && !current_account.profile.blocking(@profile)%>
        <div id=status><%= "#{@profile.status}"%></div>
      <% end %>
      
      <% if current_account.profile==@profile %>
        <% if !@profile.status %>
          <div id="status"><a href="#">Add a status</a></div>                   
        <% end %>
      <% end %>
      
      <% if current_account.profile.blocking(@profile) %>
       <%= link_to "Unblock #{@profile.first_name}", blockage_path(:blockee_id => @profile), :method => :delete, :class => "btn btn-primary" %>
      <% end %>
      
      <% if !@profile.blocking(current_account.profile) && !current_account.profile.blocking(@profile) %>
        <% if current_account.profile!=@profile %>
          <% if !current_account.profile.connected_to(@profile) %>
            <% if @profile.pending_friend_request?(current_account.profile) %>
              <%= link_to "Unsend Friend Request", friend_request_path(:friend_id => @profile), :method => :delete, :class => "btn btn-secondary" %>
            <% elsif !current_account.profile.pending_friend_request?(@profile) %>
                <%= link_to "Send Friend Request", friend_requests_path(:friend_id => @profile), :method => :post, :class => "btn btn-primary" %>
            <% end %>
          
          <% elsif current_account.profile.connected_to(@profile) %>
              <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Connected
              </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <%= link_to "Disconnect", connection_path(:friend_id => @profile), :method => :delete, :class => "dropdown-item" %>
              </div>
                <%= link_to "Message #{@profile.first_name}", conversations_path(:sender_id => current_account, :receiver_id => @profile), :method => :post, :class => "btn btn-primary" %>
          <% end %>
        <% else %>
          <%= link_to "Update Profile", edit_profile_path(@profile), :class => "btn btn-primary" %>
          <%= link_to "", settings_path(:id => current_account.id), :class => "btn btn-secondary view fas fa-eye" %>
          <%= link_to "", setting_path(:id => current_account.id), :class => "btn fas fa-cog setting" %>
        <% end %>
        
        <% if current_account.profile!=@profile %>
            <div class="btn-group">
              <button type="button" class="btn options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h1 class="options-text">&middot;&middot;&middot;</h1>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                  <%= link_to "Block #{@profile.first_name}", blockages_path(:blockee_id => @profile), :method => :post, :class => "dropdown-item" %>
              </div>
            </div>
        <%end%>
      <%end %>
    </div>
  </div>
    <br/>
    <% if !@profile.blocking(current_account.profile) && !current_account.profile.blocking(@profile) %>
      <h5><span class="fas fa-graduation-cap"/><%= "Class of #{@profile.class_year}" %></h5>
      <%= Profile.toList(@profile.majors).join(" and ")%><%= Profile.toList(@profile.majors).length > 1 ? " Double Major" : " Major" %>
      <br/>
      <% if Profile.toList(@profile.minors).length > 0 %>
        <%= Profile.toList(@profile.minors).join(" and ")%><%= Profile.toList(@profile.minors).length > 1 ? " Double Minor" : " Minor" %>
      <% end %>
      
      <% if current_account.profile.should_show("Interests", @profile) %>
        <p>Interested in <%= Profile.toList(@profile.interests).to_sentence %></p>
      <% end %>
      <hr/>
      
      <% if current_account.profile == @profile %>
      <div class="center">
          <button class="btn btn-maroon">Edit Photos</button>
      </div>
      <% end %>
      
      
      <% if current_account.profile.should_show("Photos", @profile) %>
          <% if current_account.profile == @profile %>
            <div class="photos" id="items">
          <% else %>
            <div class="photos">
          <% end %>
            <% if @profile.photos.attached? %>
                <% @profile.photos.each do |photo| %>
                  <img class="profile-image-square" src="<%= (url_for(photo)) %>">
                <%end %>
            <% elsif current_account.profile != @profile%>
              <br/>
              <h5 class="center pad">No photos yet.</h5>
            <% end %>
            
            <% if current_account.profile == @profile && @profile.photos.attachments.length < 13 %>
            <div id="no-drag" class="no-drag profile-image-square border" style="position: relative;">
              <div class="add-form">
               <%= simple_form_for @profile, :url => url_for(:action => 'update', :controller => 'profiles'), :method => 'patch' do |f| %>
                <%= f.file_field :photos, id: "f-field", required: true %>
                <%= f.button :submit %>
               <% end %>
               </div>
            </div>
            <% end %>
            
            </div>
            
            
            
        <% else %>
          <br/>
          <h5 class="center pad"><p class="fas fa-lock"/> This user's photos are private</h5>
        <% end %>
        
    <% elsif current_account.profile.blocking(@profile) %>
      <div class="center pad">User is blocked.</div>
    <% else %>
      <div class="center pad">User is unavailable</div>
    <% end %>
  </div>
</div>

    
    
<script>
var el = document.getElementById("items");
// from sortableJS
var sortable = Sortable.create(el, {
  group: "localStorage-example",
  filter: ".no-drag",
  store: {
    get: function (sortable) {
      var order = localStorage.getItem(sortable.options.group.name);
      console.log(sortable.options.group)
      return order ? order.split("|") : [];
    },

    set: function (sortable) {
      var order = sortable.toArray();
      localStorage.setItem(sortable.options.group.name, order.join("|"));
    },
  },
});
</script>