<div class="profile-container">
      <!--check logged in to the right user -->
      <!--<button onclick="f()" class="update-button">Update Profile</button>-->
      <% if current_account==@profile %>
        <%= link_to "Update Profile", edit_profile_path(@profile), :class => "btn btn-primary update-button" %>
      <% end %>
      <div class="profile-basic">
            <div class="profile-image-circle"></div>
            <div class="profile-text">
                 <h4><%= "#{@profile.first_name} #{@profile.last_name}" %> </h4>
                 <p> <%= "#{@profile.pronouns}"%></p>   
                  <!--check logged in to the right user -->
                  <% if current_account==@profile %>
                    <button onclick="f()" class="add-button">Add a status</button>
                  <% end %>
                  <!--connected & message button -->
                  <div>
                    <% if current_account!=@profile && !current_account.connected_to(@profile) %>
                        <div><%= link_to "Add Connection", connections_path(:friend_id => @profile), :method => :post, :class => "btn" %></div>
                    <% end %>
                  </div>
                  <div>
                    <% if current_account!=@profile && current_account.connected_to(@profile) %>
                        <div>
                        <%= link_to "Connected", connections_path(:friend_id => @profile), :method => :post, :class => "btn btn-success" %>
                        <%= link_to "Message #{@profile.first_name}", conversations_path(:sender_id => current_account, :receiver_id => @profile), :method => :post, :class => "btn btn-primary" %>
                        </div>
                    <% end %>
                  </div>
            </div>
      </div> 
      <div>
        <table class="profile-info">
              <tr>
                <th><%= "Class of #{@profile.class_year}" %></th>
              </tr>
              <tr>
                <th>Major(s)</th>
                <td> <%= @profile.majors %> </td>
                 <!-- need to loop through them to list it -->
              </tr>
              <tr>
                <th>Minor(s)</th>
                <td> <%= @profile.minors %> </td>
              </tr>
              <tr>
                <th>Interested in:</th>
                <td> <%= @profile.interests %> </td>
              </tr>
        </table>
        
      <!--check logged in to the right user -->
      <% if current_account==@profile %>
        <button onclick="f()" class="add-button">Upload profile photos</button>
      <% end %>

     <div class="photos">
            <div class="profile-image-square"></div> 
            <div class="profile-image-square"></div> 
            <div class="profile-image-square"></div> 
     </div>
     </div>

</div>
    
    
<script>
function f() {
  alert("Not implemented yet");
}
</script>

