<h4 class="name"> <%= "Profile of #{@profile.first_name}" %> </h4>
        
<div class="profile-container">
        <%= "Profile of #{@profile.first_name}" %>
        <%= "My pronouns are: #{@profile.pronouns}"%>
        <%= "Majors: #{@profile.majors}"%>
        <%= "Minors: #{@profile.minors}"%>
        <%= "Interested in: #{@profile.interests}"%>
</div>
    