<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script>
  $(document).ready(function(){
  	$('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
  		localStorage.setItem('activeTab', $(e.target).attr('href'));
  	});
  	var activeTab = localStorage.getItem('activeTab');
  	if(activeTab){
  		$('#myTab a[href="' + activeTab + '"]').tab('show');
  	}
  });
</script>
</head>
<body>
  <div class="main pad-left">
    <br/>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="connections-tab" data-toggle="tab" href="#connections" >Connections</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="requests-tab" data-toggle="tab" href="#requests" >Connection Requests
        <% if @friend_requests.length() != 0 %>
            <span class="notif"/>
        <% end %>
      </a>
    </li>
  </ul>
  <br/>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane show active" id="connections" role="tabpanel" aria-labelledby="connections-tab">
        <h4>Suggested Connections</h4>
          <div style="width: 100%; display:table-cell;" class="center">
          <% @suggestions.each do |s| %>
            <div class="card float-left spacer pad" style="width: 15rem; height: 14rem;">
              <div class="card-body center">
              <% if s.avatar.attached? %>
                <img class= "suggested-img" src="<%= (url_for(s.avatar)) %>">
              <% else %>
                 <%= image_tag("avatar.jpg", class: "suggested-img", alt:"avatar") %>
              <% end %>
                <a href="#" class="card-link"><h5> <%= link_to "#{s.first_name + " " + s.last_name}", profile_path(s) %> </h5></a>
                <% if Setting.to_list(s.setting.public).include? "Pronouns"%>
                  <h6 class="card-subtitle mb-2 text-muted"><%= "#{s.pronouns}" =%></h6>
                <% end %>
                <p class="time"><%=pluralize(current_account.profile.get_mutual_connections(s).length, 'mutual connection' )%></p>
              </div>
            </div>
          <%end%>
        </div>
        <br/>
        <h3>My Connections</h3>
          <div class="search" style="display: table-cell;">
            <%= simple_form_for :filter_list, url: connections_path, :method => 'get', html: {:class => "form-inline"} do |f| %>
              <%= f.input :general_search_term, label: false, placeholder: "Search connections"%>
              <%= f.button :submit, "Search", class: "btn btn-light spacer"%>
            <% end %>
          </div>
          
          <div style="display: table-cell; padding: 5px;">
            <p>Sort By </p>
          </div>
          
          <div style="display: table-cell;">
            <%= simple_form_for :filter_list, url: connections_path, :method => 'get',  html: {:class => "form-inline"} do |f|%>
                <%= f.input :sort_by, label: false, collection: ["Name", "Date Connected: Latest", "Date Connected: Earliest"], selected: @sort_key %>
                <%= f.button :submit, "Sort", class: "btn btn-light spacer"%>
            <% end %>
          </div>
          <div style="display: table-cell;">
            <%= link_to "Reset filter", connections_path(:reset => true), class: "btn btn-light spacer" %>
          </div>
          <br/>
          
      <% if @connections.length() == 0 %>
        <p class="center">No connections found. <%= link_to "Add some?", profiles_path() %></p>
      <% else %>
        <table class="table">
        <tbody>
          <% @connections.each do |c| %>
            <tr><p>
              <td>
                <div class="contact-frame">
                  <% if c.friend.avatar.attached? %>
                  <img src="<%= (url_for(c.friend.avatar)) %>">
                <% else %>
                  <%= image_tag("avatar.jpeg", class: "", alt:"photo") %>
                <% end %>
                </div>
              </td>
              <td>
                <%= link_to "#{c.friend.first_name} #{c.friend.last_name}", profile_path(c.friend.id), :class => "float-left" %>
              </td>
              <td>
                <div><%= link_to "Disconnect", connection_path(:id => current_account.id, :friend_id => c.friend.id), :method => :delete, :class => "btn btn-success" %></div>
              </td>
            </p></tr>
            <% end %>
          </tbody>
        </table>
        
      <% end %>
    </div>
    <div class="tab-pane" id="requests" role="tabpanel" aria-labelledby="requests-tab">
      <h3>Connection Requests</h3>
        <div>
          <% if @friend_requests.length() == 0 %>
            <p class="center">Too bad, no secret admirers!</p>
          <% else %>
            <table class="table">
            <tbody>
              <% @friend_requests.each do |c| %>
                <tr><p>
                  <td>
                    <div class="contact-frame">
                      <% if c.friend.avatar.attached? %>
                        <img src="<%= (url_for(c.friend.avatar)) %>">
                      <% else %>
                        <%= image_tag("avatar.jpeg", class: "", alt:"photo") %>
                      <% end %>
                    </div>
                  </td>
                  <td>
                    <h5><%= link_to "#{c.friend.first_name} #{c.friend.last_name}", profile_path(c.friend.id) %></h5>
                  </td>
                  <td>
                    <div><%= link_to "Accept", connections_path(:id => current_account, :friend_id => c.friend.id), :method => :post, :class => "btn btn-primary" %></div>
                  </td>
                  <td>
                    <div><%= link_to "Delete", friend_request_path(:id => current_account, :friend_id => c.friend.id), :method => :delete, :class => "btn btn-light" %></div>
                  </td>
                </p></tr>
                <% end %>
              </tbody>
            </table>  
          <% end %>
    </div>
  </div>
  </div>
</body>

</html>