<h1>Create an Account</h1>
<%= form_with model: @account, local: true do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %> <br />
    
    <%= f.label :last_name %>
    <%= f.text_field :last_name %> <br />
    
    <%= f.label :password %>
    <%= f.password_field :password, class: "shortInput" %> <br />

    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation, class: "shortInput" %> <br />
  
    <%= f.submit "Create Account" %>
<% end %>

