<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="main pad-left">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#connections">Connections</a></li>
      <li>
        <a data-toggle="tab" href="#requests">Connection Requests
        
        <% if @friend_requests.length() != 0 %>
            <span class="notif"/>
        <% end %>
        </a>
        
      </li>
    </ul>
    
    <div class="tab-content">
      <div id="connections" class="tab-pane active">
        <h4>Suggested Connections</h4>
        <h3>My Connections</h3>
          <div class="search" style="display: table-cell;">
            <%= simple_form_for :filter_list, url: connections_path, :method => 'get', html: {:class => "form-inline"} do |f| %>
              <%= f.input :general_search_term, label: false, placeholder: "Search connections"%>
              <%= f.button :submit, "Search", class: "btn btn-light spacer"%>
            <% end %>
          </div>
          
          <div style="display: table-cell; padding: 5px;">
            <p>Sort By </p>
          </div>
          
          <div style="display: table-cell;">
            <%= simple_form_for :filter_list, url: connections_path, :method => 'get',  html: {:class => "form-inline"} do |f|%>
                <%= f.input :sort_by, label: false, collection: ["Name", "Date Connected: Latest", "Date Connected: Earliest"], selected: @sort_key %>
                <%= f.button :submit, "Sort", class: "btn btn-light spacer"%>
            <% end %>
          </div>
          <div style="display: table-cell;">
            <%= link_to "Reset filter", connections_path(:reset => true), class: "btn btn-light spacer" %>
          </div>
          <br/>
          
      <% if @connections.length() == 0 %>
        <p class="center">No connections found. <%= link_to "Add some?", profiles_path() %></p>
      <% else %>
        <table class="table">
        <tbody>
          <% @connections.each do |c| %>
            <tr><p>
              <td>
                Photo
              </td>
              <td>
                <%= link_to "#{c.friend.first_name} #{c.friend.last_name}", profile_path(c.friend.id) %>
              </td>
              <td>
                <div><%= link_to "Disconnect", connection_path(:id => current_account.id, :friend_id => c.friend.id), :method => :delete, :class => "btn btn-success" %></div>
              </td>
            </p></tr>
            <% end %>
          </tbody>
        </table>
        
      <% end %>
      </div>
      
      <div id="requests" class="tab-pane">
        <h3>Connection Requests</h3>
        <div>
          <% if @friend_requests.length() == 0 %>
            <p class="center">Too bad, no secret admirers!</p>
          <% else %>
            <table class="table">
            <tbody>
              <% @friend_requests.each do |c| %>
                <tr><p>
                  <td>
                    Photo
                  </td>
                  <td>
                    <h5><%= link_to "#{c.friend.first_name} #{c.friend.last_name}", profile_path(c.friend.id) %></h5>
                  </td>
                  <td>
                    <div><%= link_to "Accept", connections_path(:id => current_account, :friend_id => c.friend.id), :method => :post, :class => "btn btn-primary" %></div>
                  </td>
                  <td>
                    <div><%= link_to "Delete", friend_request_path(:id => current_account, :friend_id => c.friend.id), :method => :delete, :class => "btn btn-light" %></div>
                  </td>
                </p></tr>
                <% end %>
              </tbody>
            </table>  
          <% end %>
      </div>
    </div>
  </div>
</body>

<script>
  if (location.hash) {
    $('a[href=\'' + location.hash + '\']').tab('show');
  }
  var activeTab = localStorage.getItem('activeTab');
  if (activeTab) {
    $('a[href="' + activeTab + '"]').tab('show');
  }
  
  $('body').on('click', 'a[data-toggle=\'tab\']', function (e) {
    e.preventDefault()
    var tab_name = this.getAttribute('href')
    if (history.pushState) {
      history.pushState(null, null, tab_name)
    }
    else {
      location.hash = tab_name
    }
    localStorage.setItem('activeTab', tab_name)
  
    $(this).tab('show');
    return false;
  });
  $(window).on('popstate', function () {
    var anchor = location.hash ||
      $('a[data-toggle=\'tab\']').first().attr('href');
    $('a[href=\'' + anchor + '\']').tab('show');
  });
</script>
  
</html>

