<head>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<div class="main">
  <% profile = current_account.profile %>
  <div class="alert alert-primary pad" role="alert">
  This is what your profile looks like to those who are not connected to you.
  <%= link_to :back do %>
      <div class="btn btn-light float-right">&lt; Exit View As</div>
    <% end %>
  </div>
  
  <div class="profile-container">
    <div class="profile-row">
      <div class="profile-column p-left">
        <div class="circular-portrait">
          <% if profile.avatar.attached? %>
            <img  src="<%= (url_for(profile.avatar)) %>">
          <% else %>
            <%= image_tag("avatar.jpeg", alt:"photo") %>
          <% end %>
        </div>
      </div>
      
    <div class="profile-column p-right">
      <h2><%= "#{profile.first_name} #{profile.last_name}" %>
      <% if (profile.setting.dating) %>
        <%= image_tag("heart.png", class: "heart", alt:"heart") %> 
      <% end %>
      </h2>
      
      <% if Setting.to_list(profile.setting.public).include? "Pronouns"%>
        <p id="pronouns"><%= "#{profile.pronouns}"%></p>
      <% end %>
      <% if profile.status && (Setting.to_list(profile.setting.public).include? "Status") %>
        <div id=status><%= "#{profile.status}"%></div>
      <% end %>
      
      
        <div class="btn btn-primary">Send Friend Request</div>

            <div class="btn-group">
              <button type="button" class="btn options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h1 class="options-text">&middot;&middot;&middot;</h1>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                  <div class="dropdown-item">Block <%= profile.first_name %></div>
              </div>
            </div>
    </div>
  </div>
    <br/>
      <h5><span class="fas fa-graduation-cap"/><%= "Class of #{profile.class_year}" %></h5>
      <%= Profile.toList(profile.majors).join(" and ")%><%= Profile.toList(profile.majors).length > 1 ? " Double Major" : " Major" %>
      <br/>
      <% if Profile.toList(profile.minors).length > 0 %>
        <%= Profile.toList(profile.minors).join(" and ")%><%= Profile.toList(profile.minors).length > 1 ? " Double Minor" : " Minor" %>
      <% end %>
      
      <% if Setting.to_list(profile.setting.public).include? "Interests" %>
        <p>Interested in <%= Profile.toList(profile.interests).to_sentence %></p>
      <% end %>
      <hr/>
      
      
      <% if Setting.to_list(profile.setting.public).include? "Photos" %>
            <div class="photos">
      
            <% if profile.photos.attached? %>
                <% profile.photos.each do |photo| %>
                  <img class="profile-image-square" src="<%= (url_for(photo)) %>">
                <%end %>
            <% else%>
              <br/>
              <h5 class="center pad">No photos yet.</h5>
            <% end %>
            </div>
            
        <% else %>
          <br/>
          <h5 class="center pad"><p class="fas fa-lock"/> This user's photos are private</h5>
        <% end %>
  </div>
</div>
</div>