<div class="main pad">
  <h1>Account Settings</h1>
  <hr/>
    
  <%= form_with model: @setting, local: true do |form| %>
  
    <h3>Notifications</h3>
    <p>Manage which notifications you will receive.</p>
    <%= @setting.notifs.to_s %>
    <%= @setting.public.to_s %>
    <%= @setting.dating %>
    <%= @setting.preferences.to_s %>
        
    <div class="custom-control custom-switch">
      <%= form.check_box :active, class: "custom-control-input", id: "connections"%>
      <label class="custom-control-label toggle-label" for="connections">New Connections</label>
    </div>
    
    <div class="custom-control custom-switch">
      <%= form.check_box :active, class: "custom-control-input", id: "profiles"%>
      <label class="custom-control-label toggle-label" for="profiles">Connection Profile Updates</label>
    </div>
    
    <br/>
    <h3>Public Information</h3>
    <p>Manage which information is visible to non-connections. Name, Profile Picture, Class Year, Major(s) and Minor(s) are required.</p>

    <div class="custom-control custom-switch">
      <%= form.check_box :active, class: "custom-control-input", id: "pronouns"%>
      <label class="custom-control-label toggle-label" for="pronouns">Pronouns</label>
    </div>
    
    <div class="custom-control custom-switch">
      <%= form.check_box :active, class: "custom-control-input", id: "status"%>
      <label class="custom-control-label toggle-label" for="status">Status</label>
    </div>
    
    <div class="custom-control custom-switch">
      <%= form.check_box :active, class: "custom-control-input", id: "interests"%>
      <label class="custom-control-label toggle-label" for="interests">Interests</label>
    </div>
    
    <div class="custom-control custom-switch">
      <%= form.check_box :active, class: "custom-control-input", id: "photos"%>
      <label class="custom-control-label toggle-label" for="photos">Photos</label>
    </div>
    
    <br/>
    
    <div class="custom-control custom-switch">
      <%= form.check_box :active, class: "custom-control-input", id: "dating"%>
      <label class="custom-control-label toggle-label" for="dating"><h3>More Than Friends</h3></label>
    </div>
    <p>When this is toggled on, a heart symbol will be displayed on your profile indicating that you are open to dating. This emoji will only be visible to those who <b>also have this feature toggled on</b> and whose <b>interest settings match your profile.</b></p>
    
    <h5 class="disabled">I am interested in people who use the following pronouns (check all that apply):</h5>
    <% Profile::PRONOUNS.each do |a_value| %>
      <%= form.check_box(:a, { :multiple => true, :disabled => true }, a_value) %>
      <label class="disabled"><%= a_value %></label>
      <br/>
    <% end %>
    
    <h5 class="disabled">I am interested in people from the following class years (check all that apply):</h5>
    <% Profile::CLASS_YEARS.each do |a_value| %>
      <%= form.check_box(:a, { :multiple => true, :disabled => true }, a_value) %>
      <label class="disabled"><%= a_value %></label>
      <br/>
    <% end %>
    
    <br/>
    <h3>Blocking</h3>
    <%= link_to "See blocked users >", profile_path(current_account.profile), class: "link" %>
    
    <br/><br/>
    
    <%= form.submit 'Update Account Settings', :class => 'btn btn-primary' %>
    
    <%= link_to "Cancel", profile_path(current_account.profile), class: "btn btn-danger" %>
  <% end %>
</div>