<!DOCTYPE html>
<html>
    <body>
    <div class="center">
        <%= image_tag("arrival_edit.jpg", class: "masthead", alt:"Colgate Arrival Day") %>
        <div class="centered">
            <h1 class="masthead_text">Colgate Connections</h1>
            <i><h4 class="subtext">"Creating Connections During Covid"</h4></i>
        </div>
        
        <div class="container-fluid">
            
            <!-- What is Colgate Connections? -->
            <div class="section-block">
                <table style="--spacing: 15px;">
                  <tr>
                      <td class="right">
                          <%= image_tag("students1.jpg", class: "home-img", alt:"Colgate Students") %>
                      </td>
                      <td class="left fill">
                          <h2>What is Colgate Connections?</h2>
                          <p>Colgate Connections is a social application that is designed to connect Colgate students during Covid-19. As most on-campus events have been moved to a virtual platform, it has become harder to make new friends and meet new people. Colgate Connections aims to overcome this social barrier by allowing students to find others with similar interests in a fun, Colgate-specific way.</p>
                          <br/><br/><br/>
                      </td>
                  </tr>
                </table>
            </div>
            
            <!-- Create Your Profile -->    
            <div class="section-block">
                <table style="--spacing: 15px;">
                    <tr>
                        <td class="left fill">
                            <h2>Create Your Profile</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <br/><br/><br/>
                        </td>
                        <td class="right">
                            <%= image_tag("student.jpg", class: "home-img", alt:"Colgate Arrival Day") %>
                        </td>
                    </tr>
                </table>
            </div>
            
            <!-- Description -->
            <div class="section-block">
                <table style="--spacing: 15px;">
                  <tr>
                      <td class="right">
                          <%= image_tag("quad.jpg", class: "home-img", alt:"Colgate Students") %>
                      </td>
                      <td class="left fill">
                          <h2>Connect with Colgate Students</h2>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                          <br/><br/><br/>
                      </td>
                  </tr>
                </table>
            </div>
            
            <!-- Description -->    
            <div class="section-block">
                <table style="--spacing: 15px;">
                    <tr>
                        <td class="left fill">
                            <h2>Discover Campus Events</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <br/><br/><br/>
                        </td>
                        <td class="right">
                            <%= image_tag("event.jpg", class: "home-img", alt:"Colgate Arrival Day") %>
                        </td>
                    </tr>
                </table>
            </div>
            
            <!-- Description -->
            <div class="section-block">
                <table style="--spacing: 15px;">
                  <tr>
                      <td class="right">
                          <%= image_tag("couple.jpg", class: "home-img", alt:"Colgate Students") %>
                      </td>
                      <td class="left fill">
                          <h2>Make New Friends -- or More!</h2>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                          <br/><br/><br/>
                      </td>
                  </tr>
                </table>
            </div>
            
        </div>
    </div>
    </body>
</html>