<!DOCTYPE html>
<html>
    <body>
    <div class="center">
        <div class="masthead">
            <div class="centered">
                <h1 class="masthead_text">Colgate Connections</h1>
                <i><h4 class="subtext">"Creating Connections During Covid"</h4></i>
            </div>
        </div>
        <div class="container-fluid">
            
            <!-- What is Colgate Connections? -->
            <div class="section-block">
                <table style="--spacing: 15px;">
                  <tr>
                      <td class="right">
                          <%= image_tag("students1.jpg", class: "home-img", alt:"Colgate Students") %>
                      </td>
                      <td class="left fill">
                          <h2>What is Colgate Connections?</h2>
                          <p>Colgate Connections is a social application that is designed to connect Colgate students during Covid-19. As most on-campus events have been moved to a virtual platform, it has become harder to make new friends and meet new people. Colgate Connections aims to overcome this social barrier by allowing students to find others with similar interests in a fun, Colgate-specific way.</p>
                          <br/><br/><br/>
                      </td>
                  </tr>
                </table>
            </div>
            
            <!-- Create Your Profile -->    
            <div class="section-block">
                <table style="--spacing: 15px;">
                    <tr>
                        <td class="left fill">
                            <h2>Create Your Profile</h2>
                            <p>Building a profile is easy! With their Colgate emails, students are asked to fill out basic information about themselves including pronouns, class year, major(s), minor(s), and interests. To personalize the profile further, students are able to add up to 13 photos (in true Colgate fashion) to their page.</p>
                            <br/><br/><br/>
                        </td>
                        <td class="right">
                            <%= image_tag("student.jpg", class: "home-img", alt:"Colgate Arrival Day") %>
                        </td>
                    </tr>
                </table>
            </div>
            
            <!-- Description -->
            <div class="section-block">
                <table style="--spacing: 15px;">
                  <tr>
                      <td class="right">
                          <%= image_tag("quad.jpg", class: "home-img", alt:"Colgate Students") %>
                      </td>
                      <td class="left fill">
                          <h2>Connect with Colgate Students</h2>
                          <p>As a result of the pandemic, students have less in-person opportunities to meet and build friendships with other Colgate students. In order to help minimize feelings of disconnection, Colgate Connections provides an opportunity for students of all class years to find other students that hold similar interests. By utilizing the search feature, students are able to view Colgate students profiles and send them connection requests. By connecting with a student, a channel of communication is opened allowing students to send messages to one another.</p>
                          <br/><br/><br/>
                      </td>
                  </tr>
                </table>
            </div>
            
            <!-- Description -->    
            <div class="section-block">
                <table style="--spacing: 15px;">
                    <tr>
                        <td class="left fill">
                            <h2>Discover Campus Events</h2>
                            <p>Colgate is a busy campus – there’s always something going on. The events calendar provides a consolidated place for students to explore upcoming campus events. Different clubs and organizations will also have the opportunity to promote their events. With a club account, club board members can upload their events to our event page and students can indicate whether or not they are interested in attending. To find events that students are interested in, they can filter by club name, calendar dates, or areas of interest.</p>
                            <br/><br/><br/>
                        </td>
                        <td class="right">
                            <%= image_tag("event.jpg", class: "home-img", alt:"Colgate Arrival Day") %>
                        </td>
                    </tr>
                </table>
            </div>
            
            <!-- Description -->
            <div class="section-block">
                <table style="--spacing: 15px;">
                  <tr>
                      <td class="right">
                          <%= image_tag("couple.jpg", class: "home-img", alt:"Colgate Students") %>
                      </td>
                      <td class="left fill">
                          <h2>Make New Friends — or More!</h2>
                          <p>Using our More Than Friends feature, students can indicate that they are open to dating on their profile. When this is toggled on, a heart symbol will be displayed indicating their open status. Once students select their preferred match pronouns and class year(s), the heart symbol will only be visible to those who also have this feature toggled on and whose interest settings (pronoun and class year) match their profile!</p>
                          <br/><br/><br/>
                      </td>
                  </tr>
                </table>
            </div>
            
        </div>
    </div>
    </body>
</html>