<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'accounts', media: 'all' %>
  </head>
  <body>
    <br/>
    <h2 class = "center">Log in</h2>
    <div class="center form">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
        
          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div>
          
          <div class="pad">
            <%= link_to "Don't have an account? Sign up.", new_account_registration_path%>
          </div>
          
        
          <div class="actions">
            <%= f.submit "Log in", class: "btn btn-maroon" %>
          </div>
        <% end %>
    </div>
  </body>
</html>