<head>
    <%= stylesheet_link_tag 'accounts', media: 'all' %>
</head>
<div class="feed">
  <h3 class="pad-left">Notifications</h3>
  
  <table class="table">
    <tbody>
      <% if current_account.profile.notifications.length == 0 %>
        <div class="pad-left center">No notifications yet.</div>
      <% else %>
          <% current_account.profile.notifications.order("created_at DESC").each do |n| %>
          <tr>
              <td>
                <div class="contact-frame">
                  <% if n.updater.avatar.attached? %>
                    <img src="<%= (url_for(n.updater.avatar)) %>">
                  <% else %>
                    <%= image_tag("avatar.jpeg", class: "", alt:"photo") %>
                  <% end %>
                </div>
              </td>
              <td>
                <div class="float-left">
                  <p> <%= n.body %></p>
                  <p class="notif-time"><%= n.notif_time %></p>
                </div>

              </td>
            </tr>
          <% end %> 
      <% end %> 
    </tbody>
  </table>  
</div> 