<!DOCTYPE html>
<html>
    <body>
        <div class="center form">
            <h1>Create an Account</h1>
            <%= simple_form_for @account, :url => url_for(:action => 'create', :controller => 'accounts'), :method => 'post' do |f| %>
                <%= f.error_notification %>
 
                <p><%= f.input :email, label: 'Colgate Email', placeholder: 'user@colgate.edu', input_html: { required: true } %></p>
                
                <p><%= f.input :password, input_html: { required: true } %></p>
                
                <p><%= f.button :submit, class: "btn-primary" %></p>
            <% end %>
        </div>
    </body>
</html>