<!DOCTYPE html>
<html>
    <head>
        <%= stylesheet_link_tag 'accounts', media: 'all' %>
    </head>
    <body>
        <br/>
        <h1 class="center">Create an Account</h1>
        <div class="center form">
            
            <%= simple_form_for @account, :url => url_for(:action => 'create', :controller => 'accounts'), :method => 'post' do |f| %>
                <%= f.error_notification %>
 
                <p><%= f.input :email, label: 'Colgate Email', placeholder: 'user@colgate.edu', input_html: { required: true } %></p>
                
                <p><%= f.input :password, input_html: { required: true } %></p>
                
                <p><%= f.button :submit, class: "btn btn-maroon" %></p>
            <% end %>
        </div>
    </body>
</html>