<h4 class="name"> <%= "Profile of #{@account.first_name}" %> </h4>
        
<div class="profile-container">
        <%= "Profile of #{@account.first_name}" %>
        <%= "My pronouns are: #{@account.pronouns}"%>
        <%= "Majors: #{@account.majors}"%>
        <%= "Minors: #{@account.minors}"%>
        <%= "Interested in: #{@account.interests}"%>
</div>
    


   